<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" href="{% static 'listcourses/css/style.css' %}" media="screen" title="no title"  charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <title>Courses</title>
</head>
<body>
<div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <a class="navbar-brand" href="#">E-Tech|Learn</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                                <a class="nav-link" href="#">About Tech|Learn</a>
                              </li>
                    <li class="nav-item active">
                      <a class="nav-link" href="#">Courses Available <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href='news/'>News</a>
                    </li>
                    <li class="nav-item">
                            <a class="nav-link" href="faculty/">Current Faculty</a>
                          </li>
                  </ul>
                </div>
        </nav>
            </div>
            <div class="container-fluid">
                  <!-- Main jumbotron for a primary marketing message or call to action -->
                  <div class="jumbotron  text-light bg-info">
                    <div class="container">
                      <h1 class="display-3">Tech|Learn</h1>
                      <p>a course scheduling software for adminstrators and faculty</p>
                      <p><a class="btn btn-primary btn-lg" href="https://getbootstrap.com/docs/4.0/examples/jumbotron/#" role="button">Learn more »</a></p>
                    </div>

                  <div class="container bg-success">
                </div>
                <div class="container-fluid">
                  
                    <div class="row">
                      <div class="col-md-4">
                        <h2>Schedule Courses</h2>
                        <p>Faculty can suggest and give details on future course offerings </p>
                        <p><a class="btn btn-secondary" href="coursescheduler/" role="button">View details »</a></p>
                      </div>
                      <div class="col-md-4">
                        <h2>Assign Faculty</h2>
                        <p><a class="btn btn-secondary" href="faculty/" role="button">View details »</a></p>
                      </div>
                      <div class="col-md-4">
                        <h2>Administrate offerings</h2>
                        <p><a class="btn btn-secondary" href="admin/" role="button">View details »</a></p>
                      </div>
                    </div>
            
                    <hr>
        </div>
        </body>
        </html>